.about__wrapper.container.section
    .section__header.row.justify-content-between
        div.section__header__wrapper
            h3 О нас
        .col
    .about__content.section__content.row
        .col
            img(src="img/about.jpg", alt="")

        .col
            p.bold  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae saepe dolor tenetur voluptates deleniti inventore tempora id veniam, accusantium voluptatum dignissimos eius labore repellat cumque temporibus veritatis delectus. Officiis, quisquam!

            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam error sequi temporibus omnis perspiciatis soluta! Neque iusto quia, ab explicabo harum itaque corporis alias aliquam consequatur voluptatem, totam voluptate voluptates!

            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis debitis, rerum sint, inventore voluptates atque maxime autem, animi praesentium cum odit hic possimus sapiente in neque, dolores labore sit non?