.col-sm-6.col-md-4
    .card
        img.card-img-top(src="img/post-thumb1.jpg", alt="")
        .card-body
            h4.card-title  Lorem ipsum dolor sit amet
            p.card-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellat, exercitationem accusamus vitae aliquid.
            .card-creds
                p.card-text.cost 1500 руб./ч.
                a.btn.btn-primary(href="#") Пойду