.interestings__item.col-md-3.col-sm-6
    .card
        img.card-img-top(src="img/post-thumb1.jpg", alt="")
        .card-body
            h4.card-title  Lorem ipsum dolor sit amet
            p.card-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellat, exercitationem accusamus vitae aliquid.
            .card-creds
                p.card-text.date 27.08.17 / www.protectsport.com
                a.btn.btn-primary(href="#") Подробнее