.interestings__wrapper.section.container
    .row.section__header.justify-content-between
        div.section__header__wrapper
            h3 Интересные материалы
        div
            a.btn.btn-primary(href="#") блог
    .interestings__content.row
        each val in [1, 2, 3, 4]
            include interestins-single-item.pug
        
