//- objects
.objects.container
    .row
        .col-sm.col-md-4
            .object.shops
                h4 Магазины
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
        .col-sm.col-md-4
            .object.sport
                h4 Спортплощадки и залы
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
        .col-sm.col-md-4
            .object.trener
                h4 Поиск тренера
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
    .row
        .col-sm.col-md-4
            .object.fitnes
                h4 Фитнесы
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
        .col-sm.col-md-4
            .object.sections
                h4 Секции
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
        .col-sm.col-md-4
            .object.pools
                h4 Поиск партнера
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
    .row
        .col-sm.col-md-8
            .object.medical
                h4 Медицина
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
        .col-sm.col-md-4
            .object.hobbys
                h4 Развлечения
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-more(href="#")
                    img(src="img/arrow-right.png", alt="")
//- end objects