.post.col-sm-6.col-md-4
    .card
        img.card-img-top(src="img/post-thumb1.jpg", alt="")
        .card-body
            h4.card-title  Lorem ipsum dolor sit amet
            p.card-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellat, exercitationem accusamus vitae aliquid.
            .card-creds.container
                .row.justify-content-between.align-items-center
                    .creds.row
                        .col-md-auto
                            p.date 04.08.2018
                        .col-md-auto
                            p.views
                                | 4 просмотров
                    .more
                        a.btn.btn-primary(href="blog-post.html") подробнее