.social-share.row.justify-content-center
    .col-sm-auto
        a(href="#")
            i.fa.fa-vk
    .col-sm-auto
        a(href="#")
            i.fa.fa-facebook
    .col-sm-auto
        a(href="#")
            i.fa.fa-odnoklassniki
    .col-sm-auto
        a(href="#")
            i.fa.fa-twitter