extends layouts/app.pug

block title
    | Пост в блоге

block content
    - var title = "Пост в блоге"
    - var bs = ['Блог']

    include layouts/header-bg.pug
    .container
        include partials/breadcrumb.pug

    //- content
    .container
        .row
            aside.col-sm-3
                include partials/sidebar.pug
            main.col-sm-9
                    h2.text-uppercase Кроссфит