extends layouts/app.pug


block title 
    | Блог

block content
    - var title = "Блог"
    
    include layouts/header-bg.pug

    include partials/breadcrumb.pug

    //- page with posts
    .container
        .row
            //- sidebar
            aside.col-md-3
                include partials/sidebar.pug
            //- end sidebar

            section.col-md-9
                each post in [1, 2, 3, 4]
                    article.container.post.card
                        img.preview.card-img-top(src="img/blog-post-image.jpg", alt="")
                        .card-body
                            h4.card-title.post__title Заголовок поста
                            .content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.
                            //- post creds
                            .card-creds.container
                                .row.justify-content-between
                                    .creds.row
                                        .col-md-auto
                                            p.date 04.08.2018
                                        .col-md-auto
                                            p.author admin
                                        .col-md-auto
                                            p.like 3
                                        .col-md-auto
                                            p.comments 4 комментариев
                                    .more
                                        a.btn.btn-primary(href="blog-post.html") подробнее
                            //- end post creds
                .row.justify-content-center
                    .col-md-auto
                        include partials/pagination.pug
    //- page with posts