extends layouts/app.pug

block title
    | Пост в блоге

block content
    - var title = "Пост в блоге"
    - var bs = ['Блог']

    include layouts/header-bg.pug
    .container
        include partials/breadcrumb.pug

    //- content
    .container
        .row
            aside.col-sm-3
                include partials/sidebar.pug
            main.col-sm-9
                - var header = 'Пост в блоге'
                include partials/page-second-header.pug

                article.container.post-single.card
                    img.preview.card-img-top(src="img/blog-post-image.jpg", alt="")
                    .card-body
                        .card-creds.container
                            .row.justify-content-between.align-items-center
                                .creds.row
                                    .col-md-auto
                                        p.date 04.08.2018
                                    .col-md-auto
                                        p.author admin
                                    .col-md-auto
                                        p.like 3
                                    .col-md-auto
                                        p.comments 4 комментариев
                        .post-content  
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ut tempore debitis hic quibusdam. Cumque ad veritatis asperiores quae vel eaque, repellat recusandae suscipit praesentium a consequatur culpa quisquam quis.
                            ul.list
                                li lorem
                                li lorem
                                li lorem
                                li lorem
                            include partials/social-share.pug
                    //- post creds
                //- end post creds

                include partials/comments.pug
    //- end blog post content

    - var interestings = 'Похожие статьи'
    include partials/interestings.pug