extends layouts/app.pug

block title
    | Категория

block content
    - var title = 'Категория'

    include layouts/header-bg.pug
    include partials/breadcrumb.pug

    main.container
        .row

            aside.col-md-3
                include partials/sidebar.pug
            
            .col-md-9
                - var header = 'Кроссфит'

                include partials/page-second-header.pug

                .row
                    each i in [1, 2, 3, 4, 5, 6, 7, 8]
                        include partials/post.pug