extends layouts/app.pug

block title
    | Главная

block content
    //- write structure here
    include partials/carousel.pug
    include partials/objects.pug

    include partials/catalog.pug

    include partials/aboutus.pug

    include partials/interestings.pug