extends layouts/app.pug

block title
    | Объекты

block content
    - var header = title = 'Объекты'

    include layouts/header-bg.pug
    include partials/breadcrumb.pug

    .container
        .row
            //- sidebar
            .col-md-3
                include partials/objects-sidebar.pug
            //- end sidebar

            //- main content
            .col-md-9
                include partials/page-second-header.pug
                include partials/sorter.pug

                .row
                    each i in [1, 2, 3, 4, 5, 6, 7, 8]
                        include partials/post.pug


            //- end content
            