extends layouts/app.pug

block title 
    | Мой профиль

block content
    - var title = 'Мой профиль'
    - var header = 'Мой профиль'
    include layouts/header-bg.pug
    include partials/breadcrumb.pug

    .container
        .row
            .col-sm-3
                .sidebar
                    ul.list-group.profile-photo.sidebar-widget
                        li.list-group-item.list-group-item__header
                            img(src="img/profile-photo.jpg", alt="")

                    //- profile
                    ul.list-group.profile-sidebar.sidebar-widget
                        li.list-group-item.list-group-item__header
                            .header Обо мне
                            .border
                        - var items = ['мой профиль', "мои сообщения", "команды", "мои тренировки", "нстройки", "стать тренером", "пригласить друга", "помощь"]

                        each item in items
                            li.list-group-item 
                                a(href="#").roboto-bold.text-uppercase= item
                    //- profile

                    //- favorites
                    ul.list-group.profile-sidebar.sidebar-widget
                        li.list-group-item.list-group-item__header
                            .header Избранное
                            .border
                        - var items = ["Фитнес", "йога", "футбол", "баскетбол"]

                        each item in items
                            li.list-group-item 
                                a(href="#").roboto-bold.text-uppercase= item
                    //- end favorites


                    //- search
                    ul.list-group.search-sidebar.sidebar-widget
                        li.list-group-item.list-group-item__header
                            .header Поиск
                            .border
                        li.list-group-item.no-border-change 
                            .input-group-search
                                input.form-control(type="text", name="search", placeholder="Поиск...")
                                div.search
                                    i.fa.fa-search
                    //- end search
                //- end profile sidebar
            //- end prodile left column

            .col-sm-9
                - var header = 'Обязательная информация'
                include partials/page-second-header.pug

                main.container.profile
                    form(action="").col-sm-10
                        //- name/lastname
                        .row.align-items-center
                            .col-sm-3
                                label(for="").roboto-bold Имя / Фамилия
                            .col-sm-auto
                                input.form-control.text-center(type="text", value="Александр",  )
                            .col-sm-auto
                                input.form-control.text-center(type="text", value="Васькович",  )
                        //- end name/lastname

                        //- gender
                        .row.align-items-center
                            .col-sm-3
                                label(for="").roboto-bold Пол:
                            .col-sm-auto
                                select#gender(name="gender").form-control
                                    option(value="0") Мужчина
                                    option(value="0") Женщина
                        //- end gender

                        //- birthday
                        .row.align-items-center
                            .col-sm-3
                                label(for="").roboto-bold Дата рождения
                            .col-sm-auto
                                - var months = ['Январь', "Февраль", "Март", "Апрель", "Май"]
                                select#gender(name="gender").form-control
                                    each month in months
                                        option(value="")= month
                            
                            .col-sm-auto
                                - var day = 1
                                select#day(name="day").form-control
                                    while day < 31
                                        option(value="#{day}")= day++

                            .col-sm-auto
                                - var year = 1990
                                select#year(name="year").form-control
                                    while year < 2017
                                        option(value="#{year}")= year++
                        //- end birthday

                        .row.justify-content-center
                            button.btn.btn-primary(type="submit") Зарегистрироваться