extends layouts/app.pug

block title 
    | Мой профиль

block content
    - var title = 'Мой профиль'
    - var header = 'Мой профиль'
    include layouts/header-bg.pug 
    include partials/breadcrumb.pug

    .container
        .row
            .col-sm-3
                include partials/profile-sidebar.pug
            //- end prodile left column

            .col-sm-9
                - var header = 'Обязательная информация'
                include partials/page-second-header.pug

                main.container.profile
                    form(action="").col-sm-8
                        //- name/lastname
                        .row.align-items-center
                            .col-sm-4
                                label(for="").roboto-bold Имя / Фамилия
                            .col-sm-4
                                input.form-control.text-center(type="text", value="Александр",  )
                            .col-sm-4
                                input.form-control.text-center(type="text", value="Васькович",  )
                        //- end name/lastname

                        //- gender
                        .row.align-items-center
                            .col-sm-4
                                label(for="").roboto-bold Пол:
                            .col-sm-4
                                select#gender(name="gender").form-control
                                    option(value="0") Мужчина
                                    option(value="0") Женщина
                        //- end gender

                        //- birthday
                        .row.align-items-center
                            .col-sm-4
                                label(for="").roboto-bold Дата рождения
                            .col-sm-auto
                                - var months = ['Январь', "Февраль", "Март", "Апрель", "Май"]
                                select#gender(name="gender").form-control
                                    each month in months
                                        option(value="")= month
                            
                            .col-sm-auto
                                - var day = 1
                                select#day(name="day").form-control
                                    while day < 31
                                        option(value="#{day}")= day++

                            .col-sm-auto
                                - var year = 1990
                                select#year(name="year").form-control
                                    while year < 2017
                                        option(value="#{year}")= year++
                        //- end birthday

                        //- email
                        .row.align-items-center
                            .col-sm-4
                                label(for="").roboto-bold E-Mail
                            .col-sm
                                input.form-control.text-center(type="email", value="daniilborowkow@ya.ru")
                        //- end email

                        //- email
                        .row.align-items-stretch
                            .col-sm-4
                                label(for="").roboto-bold Телефон
                            .col-sm-4
                                input.form-control.text-center(type="phone", value="+77718521479")
                            .col-sm-4
                                .badge.badge-confirmed Подтверждено
                        //- end email

                        .row.justify-content-center
                            button.btn.btn-primary(type="submit") Зарегистрироваться