footer.footer
    .footer__content.container
        .row.justify-content-between
            .to-top
                a(href="#")
                    img(src="img/to-top.png", alt="")
            div.logo
                img(src="img/logo-podval.png", alt="")
            ul.nav
                li.nav-item
                    a.nav-link(href="#") О нас
                li.nav-item
                    a.nav-link(href="#") Тренеру
                li.nav-item
                    a.nav-link(href="#") Спортсмену
                li.nav-item
                    a.nav-link(href="#") Партнеру
                li.nav-item
                    a.nav-link(href="#") Вход
                li.nav-item
                    a.nav-link(href="#") Регистрация
            ul.social-nav.nav
                li.nav-item
                    a.nav-link(href="#")
                        i.fa.fa-vk
                li.nav-item
                    a.nav-link(href="#")
                        i.fa.fa-facebook
                li.nav-item
                    a.nav-link(href="#")
                        i.fa.fa-odnoklassniki
                li.nav-item
                    a.nav-link(href="#")
                        i.fa.fa-twitter
